<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Burger Eater</title>
        <script src="https://code.jquery.com/jquery.js"></script>
    </head>

    <body>

        <nav class="navbar"><h1>Burgers You Can Eat!</h1></nav>

        <div class="container">
            {{{ body }}}
        </div>

    </body>

</html>